 /* 전체 스타일 */
 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     -ms-overflow-style: none;
 }

::-webkit-scrollbar {
    display: none;
}
 
 /* 헤더 스타일 */
 header {
     color: #333333;
     padding: 20px;
     text-align: center;
 }

 /* 메인 컨텐츠 스타일 */
 main {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 50px;
     text-align: center;
 }

 fieldset {
     border: none;
     margin: 0;
     padding: 0;

 }

 label {
     display: block;
     font-size: 16px;
     margin-bottom: 5px;
 }

 input,
 select,
 textarea {
     border: 2px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
     padding: 10px;
     width: 300px;
 }

 input[type="submit"] {
     background-color: #444;
     border: none;
     color: #fff;
     cursor: pointer;
     margin-top: 20px;
     padding: 10px 20px;
 }

 input[type="submit"]:hover {
     background-color: #666;
 }
