@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: black;
    height: 6000px;
    font-family: 'GangwonEdu_OTFBoldA';
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

div{
    margin-top: 1000px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}