@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'KIMM_Bold';
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
}

.header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header>img {
    height: 500px;
    width: 1000px;

}

a:link {
    text-decoration: none;
}

#menulist>button {
    margin: 20px;
}

#menulist {
    position: absolute;
    bottom: 0;
    top: 410px;
}

/* 메인영역 */

.main {
    display: flex;
    margin-top: 20px;
    height:100vh;
}

#btnstyle{
    margin-top: 70px;
}