* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
}

.header {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header>img {
    height: 580px;
    position: relative;
}

/* 메인영역 */
#menulist {
    position: absolute;
    bottom: 0;
}

.main {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    /* 최대 높이 설정 */
    overflow: auto;
    /* 스크롤 적용 */
}

#div1,#div2,#div3,#div4 {
    position: fixed;
    top: 590px;
    left: 150px;
}

a:link {
    text-decoration: none;
}

#menulist>button {
    margin: 20px;
}