* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.center{
    padding-top: 100px;
    display: inline-block;
    
}
.logo {
    width: 150px;
    margin-bottom: 10px;
}
.loginbt {
    color: white;
    border-color: #355ac0;
    background-color: #355ac0;
    width: 85%;
    height: 40px;
    margin: 30px;
}
.top {
    display: inline-block;
}
.mid {
    padding-top: 50px;
}
.mid input{
    width: 80%;
    height: 40px;
    margin: 10px;
}
a{
    padding: 10px;
    color: gray;
}
.snsLogin {
    padding: 50px;
}
.snsLogin img{
    display: block;
    margin: auto ;
    padding: 10px;
    width: 250px;
    height: 80px;
}
